@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Sawarabi+Mincho&display=swap");
* {
  margin: 0%;
  padding: 0%;
  color: rgba(103, 69, 61, 0.6862745098);
  font-family: "Poppins", sans-serif;
}

@media (max-width: 480px) {
  header .navbar-light .navbar-nav .nav-link.active, header .navbar-light .navbar-nav .show > .nav-link {
    color: rgba(103, 69, 61, 0.6862745098);
  }
  header .navbar-light .navbar-nav .nav-link.active:hover, header .navbar-light .navbar-nav .show > .nav-link:hover {
    color: #d2b48c;
  }
  header nav {
    background-color: #f6efe7;
  }
  header nav #logo {
    color: #d2b48c;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
  header nav a {
    text-decoration: none;
    font-size: x-large;
  }
  header nav a i {
    color: rgba(103, 69, 61, 0.6862745098);
  }
  header nav .btn-outline-success {
    border-color: rgba(103, 69, 61, 0.6862745098);
    color: rgba(103, 69, 61, 0.6862745098);
  }
  header nav .btn-outline-success:hover {
    background-color: rgba(103, 69, 61, 0.6862745098);
    color: #f6efe7;
    border-color: rgba(103, 69, 61, 0.6862745098);
  }
}
@media (min-width: 480px) and (max-width: 728px) {
  header .navbar-light .navbar-nav .nav-link.active, header .navbar-light .navbar-nav .show > .nav-link {
    color: rgba(103, 69, 61, 0.6862745098);
  }
  header .navbar-light .navbar-nav .nav-link.active:hover, header .navbar-light .navbar-nav .show > .nav-link:hover {
    color: #d2b48c;
  }
  header nav {
    background-color: #f6efe7;
  }
  header nav #logo {
    color: #d2b48c;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
  header nav a {
    text-decoration: none;
    font-size: x-large;
  }
  header nav a i {
    color: rgba(103, 69, 61, 0.6862745098);
  }
  header nav .btn-outline-success {
    border-color: rgba(103, 69, 61, 0.6862745098);
    color: rgba(103, 69, 61, 0.6862745098);
  }
  header nav .btn-outline-success:hover {
    background-color: rgba(103, 69, 61, 0.6862745098);
    color: #f6efe7;
    border-color: rgba(103, 69, 61, 0.6862745098);
  }
}
@media (min-width: 728px) {
  header {
    background-color: #f6efe7;
  }
  header .navbar-light .navbar-nav .nav-link.active, header .navbar-light .navbar-nav .show > .nav-link {
    color: rgba(103, 69, 61, 0.6862745098);
  }
  header .navbar-light .navbar-nav .nav-link.active:hover, header .navbar-light .navbar-nav .show > .nav-link:hover {
    color: #d2b48c;
  }
  header #logo {
    color: #d2b48c;
    font-size: x-large;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
  header ul li {
    font-size: larger;
    transition: 0.5s;
  }
  header ul li #buttom {
    text-decoration: none;
    transition: 0.5s;
    font-size: x-large;
  }
  header ul li #buttom:hover {
    font-size: x-large;
  }

  .btn-outline-success {
    color: rgba(103, 69, 61, 0.6862745098);
    border-color: rgba(103, 69, 61, 0.6862745098);
  }
  .btn-outline-success:hover {
    background-color: rgba(103, 69, 61, 0.6862745098);
    color: #f6efe7;
    border-color: rgba(103, 69, 61, 0.6862745098);
  }

  i {
    transition: 0.5s;
  }
  i:hover {
    font-size: larger;
  }
}
@media (max-width: 480px) {
  #main {
    background-color: rgba(203, 192, 186, 0.9176470588);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "hero" "info" "colection" "footer";
  }
  #main .hero {
    grid-area: hero;
    display: flex;
    flex-direction: column;
  }
  #main .hero .titulo, #main .hero .titulo-productos {
    text-align: center;
    margin: 1em;
    font-size: 3em;
    text-shadow: 0 0 0.2em rgba(103, 69, 61, 0.6862745098), 0 0 0.2em rgba(103, 69, 61, 0.6862745098), 0 0 0.2em rgba(103, 69, 61, 0.6862745098);
  }
  #main .hero .contenedor__img {
    display: flex;
    align-items: center;
    align-self: center;
    margin: 0 0 5em 0;
  }
  #main .hero .contenedor__img .plato1 {
    position: unset;
    z-index: 0;
    max-height: 7em;
    margin: 0 0 3em 0;
    transition: 3s;
    align-self: baseline;
  }
  #main .hero .contenedor__img .plato1:hover {
    margin: 0 0 3em 0;
    transform: rotate(45deg);
  }
  #main .hero .contenedor__img .plato2 {
    position: unset;
    z-index: 0;
    max-height: 6em;
    transition: 3s;
    margin: 0;
    align-self: flex-end;
  }
  #main .hero .contenedor__img .plato2:hover {
    margin: 0;
    transform: rotate(45deg);
  }
  #main .hero .contenedor__img .plato3 {
    position: unset;
    z-index: 0;
    max-height: 8em;
    margin: 0 0 3em 0;
    transition: 3s;
  }
  #main .hero .contenedor__img .plato3:hover {
    margin: 0 0 3em 0;
    transform: rotate(45deg);
  }
  #main .hero #flecha {
    margin: 0 0 4em 0;
    text-align: center;
  }
  #main .hero #flecha:hover {
    font-size: initial;
  }
  #main .part1 {
    grid-area: info;
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin: 0 1em 0 1em;
  }
  #main .part1 .info {
    display: flex;
    font-size: larger;
    align-items: flex-start;
    gap: 5em;
    flex-direction: column;
  }
  #main .part1 .info .subtitle {
    font-weight: bold;
    text-align: center;
  }
  #main .part1 .info #coleccion {
    color: rgba(103, 69, 61, 0.6862745098);
  }
  #main .part1 .info #coleccion:hover {
    color: rgb(246, 239, 231);
  }
  #main .part1 #mesa {
    max-width: 86%;
  }
  #main .part2 {
    grid-area: colection;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 3em;
  }
  #main .part2 h2 {
    font-size: revert;
  }
  #main .part2 #figures {
    display: flex;
    flex-wrap: wrap;
    text-align: flex-start;
  }
  #main .part2 #figures .ilustracion {
    width: 80%;
    border: solid #67453d;
    border-radius: 12%;
    transition: 1s;
  }
  #main .part2 #figures .ilustracion:hover {
    background-color: rgb(246, 239, 231);
  }

  /* 
      -----------------------------FOOTER--------------------------- */
  footer {
    background: white;
    padding: 1em;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 1em;
    font-size: 63%;
  }

  #botonera__footer {
    height: 47%;
    width: 19%;
    display: flex;
    list-style: none;
    gap: 5em;
  }

  .boton__footer {
    transition: 0.5s;
    font-size: large;
  }
}
@media (min-width: 480px) {
  #main {
    background-image: url(../img/background.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr auto;
    grid-template-areas: "hero" "info" "colection" "footer";
  }
  #main .hero {
    grid-area: hero;
  }
  #main .hero .titulo, #main .hero .titulo-productos {
    text-align: center;
    font-size: 5em;
  }
  #main .hero .titulo .welcome, #main .hero .titulo-productos .welcome {
    display: none;
  }
  #main .hero .titulo #title, #main .hero .titulo-productos #title {
    font-size: inherit;
  }
  #main .hero .contenedor__img {
    margin: 2em 0 0 0;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    gap: 2em;
  }
  #main .hero .contenedor__img .plato1,
#main .hero .contenedor__img .plato2,
#main .hero .contenedor__img .plato3 {
    z-index: 0;
  }
  #main .hero .contenedor__img .plato1 {
    max-height: 17em;
    transition: all 3s ease-out;
  }
  #main .hero .contenedor__img .plato1:hover {
    transform: rotate(45deg);
  }
  #main .hero .contenedor__img .plato2 {
    max-height: 11em;
    transition: all 3s ease-out;
  }
  #main .hero .contenedor__img .plato2:hover {
    transform: rotate(45deg);
  }
  #main .hero .contenedor__img .plato3 {
    max-height: 24em;
    transition: all 3s ease-out;
  }
  #main .hero .contenedor__img .plato3:hover {
    transform: rotate(45deg);
  }
  #main .hero #flecha {
    text-align: -webkit-center;
    font-size: xx-large;
    transition: 0.5s;
  }
  #main .hero #flecha:hover {
    font-size: initial;
  }
  #main .part1 {
    grid-area: info;
    display: flex;
    gap: 1em;
  }
  #main .part1 .info {
    display: flex;
    flex-direction: column;
    font-size: x-large;
    align-items: center;
    justify-content: space-around;
    margin: 0 1em;
  }
  #main .part1 #coleccion {
    color: rgba(103, 69, 61, 0.6862745098);
  }
  #main .part1 #coleccion:hover {
    color: #f6efe7;
  }
  #main .part2 {
    grid-area: colection;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #main .part2 h2 {
    font-size: xx-large;
  }
  #main .part2 #figures {
    display: flex;
    text-align: center;
  }
  #main .part2 #figures .ilustracion {
    width: 80%;
    border: solid #67453d;
    border-radius: 12%;
    transition: 1s;
  }
  #main .part2 #figures .ilustracion:hover {
    background-color: #f6efe7;
    -webkit-animation: ilustraciones 2s;
    animation: ilustraciones 2s;
  }
  @-webkit-keyframes ilustraciones {
    25% {
      transform: translateY(2px);
    }
  }
  @keyframes ilustraciones {
    25% {
      transform: translateY(2px);
    }
  }
  #main .part3 {
    grid-area: playlist;
    display: flex;
    justify-content: flex-end;
    gap: 25%;
    align-items: center;
    font-size: x-large;
  }

  footer {
    background: #fefefe;
    padding: 4em 0 4em 0;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  footer #botonera__footer {
    list-style: none;
    display: flex;
    height: 54%;
    width: 19%;
    justify-content: inherit;
  }
  footer #botonera__footer .boton__footer {
    transition: 0.5s;
    font-size: x-large;
  }
  footer #botonera__footer .boton__footer:hover {
    font-size: xx-large;
  }
}
#main__shop {
  background-image: url(../img/background.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 0;
}

.titulo, .titulo-productos {
  text-align: center;
  font-weight: bold;
}
.titulo-productos {
  margin: 1em 0 1em 0;
}

.titulo__colecciones {
  margin: 1em;
}

.plants {
  display: flex;
  flex-direction: column;
}

.conteiner__img_shop {
  gap: 1em;
  padding: 3em;
}

.imgshop {
  max-height: 15em;
  margin: 3em 3em 0 3em;
  border-radius: 15%;
}

.cards {
  display: inline-block;
  text-align: center;
}

.card-title {
  font-size: larger;
}

.card {
  background-color: rgba(0, 0, 0, 0.13);
  text-align: center;
}

.btn-primary {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
  background-color: rgba(0, 0, 0, 0.13);
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-primary:link {
  background-color: rgba(0, 0, 0, 0.13);
  border-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 480px) {
  #main__contact #enviar {
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
  }
}
#main__contact {
  background-image: url(../img/background.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1em;
}
#main__contact .contact__us {
  font-weight: bold;
  text-align: center;
}
#main__contact #email {
  text-align: -webkit-center;
}
#main__contact #comment {
  text-align: -webkit-center;
}
#main__contact .form-control {
  width: 69%;
}
#main__contact #enviar {
  margin-top: 1em;
  width: 8%;
  color: rgba(103, 69, 61, 0.6862745098);
  border-color: rgba(103, 69, 61, 0.6862745098);
}
#main__contact #enviar:hover {
  background-color: rgba(103, 69, 61, 0.6862745098);
  color: #f6efe7;
}

@media (max-width: 480px) {
  #main__about {
    background-image: url(../img/background.jpg);
    background-size: cover;
  }
  #main__about .card__conteiner {
    text-align: -webkit-center;
    padding: 4%;
  }
  #main__about .card__conteiner .tarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid lightgray;
    border-radius: 10% 0% 15% 0;
    box-shadow: 2px 0px 23px grey;
    width: 80%;
    margin: 4%;
    background-color: rgba(203, 192, 186, 0.9176470588);
  }
  #main__about .card__conteiner .tarjetas .text {
    display: flex;
    flex-direction: column;
  }
  #main__about .card__conteiner .tarjetas .text h2,
#main__about .card__conteiner .tarjetas .text h1 {
    background-color: lightgray;
    border-radius: 93% 0 0 0;
    font-weight: bold;
  }
  #main__about .card__conteiner .tarjetas .text p {
    margin: 19% 3% 0;
    font-weight: 700;
    font-size: larger;
  }
  #main__about .card__conteiner .tarjetas img {
    width: 99%;
    padding: 1%;
    border-radius: 39% 0 39% 0;
  }
}
@media (min-width: 480px) {
  #main__about {
    background-image: url(../img/background.jpg);
    background-size: cover;
  }
  #main__about .card__conteiner {
    text-align: -webkit-center;
    padding: 4%;
  }
  #main__about .card__conteiner .tarjetas {
    display: flex;
    border: solid lightgray;
    border-radius: 12% 0% 15% 0;
    box-shadow: 2px 0px 23px grey;
    width: 80%;
    margin: 4%;
    background-color: rgba(203, 192, 186, 0.9176470588);
  }
  #main__about .card__conteiner .tarjetas .text {
    display: flex;
    flex-direction: column;
  }
  #main__about .card__conteiner .tarjetas .text h2,
#main__about .card__conteiner .tarjetas .text h1 {
    background-color: lightgray;
    border-radius: 93% 0 0 0;
    font-weight: bold;
  }
  #main__about .card__conteiner .tarjetas .text p {
    margin: 19% 3% 0;
    font-weight: 700;
    font-size: larger;
  }
  #main__about .card__conteiner .tarjetas img {
    width: 35%;
    padding: 1%;
    border-radius: 39% 0 39% 0;
  }
}
@media (max-width: 480px) {
  #go_shopping {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
}
#main__cart {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background-image: url(../img/background.jpg);
}
#main__cart #contenedor_cart {
  display: flex;
  flex-direction: column;
  text-align: -webkit-center;
  align-items: center;
}
#main__cart #contenedor_cart h1 {
  margin: 0 0 3em 0;
}
#main__cart #go_shopping {
  width: 20%;
  background-color: transparent;
  border-color: rgba(103, 69, 61, 0.6862745098);
  color: rgba(103, 69, 61, 0.6862745098);
  margin: 0 0 5em 0;
}
#main__cart #go_shopping:hover {
  background-color: rgba(103, 69, 61, 0.6862745098);
  color: #f6efe7;
}/*# sourceMappingURL=style.css.map */