
header {
    /* grid-area:1/1/2/2; */
      grid-area: header;
      width: 100%;
      top: 0%;
      position: -webkit-sticky;
      align-self: start;
      z-index: 2;
      background-color: rgb(246, 239, 231);

      .buttom {
        text-decoration: none;
        transition: 0.5s;
        color: #67453d;
        font-size: x-large;
      }
    
      .buttom:hover {
        font-size: x-larger;
        color: #67453d;
      }

      .carrito {
     max-height: 1em;
  }
  }