// Paleta de colores
$primary-color:#67453d;
$secondary-color:rgb(246, 239, 231);
$black: #040404;
$white: #f4f4f4;

// Lista

$texts:

"h1"   3rem   600   1.6,
"h2"   2.8rem 500   1.6,
"h3"   1.5rem bold  1.6,
"p"    1rem   200;

// Map

$breakpoints: (
    sm: 480px,
    md: 768px,
    lg: 1024px,
);

