

* {
    padding: 0;
    margin: 0;
    font-family: "Mulish", sans-serif;
    color: $colortipografia;

  html {
    box-sizing: border-box;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    background-image: $backgroundimage;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "main" "footer";

    .conteiner {
      max-width: 100%;
      margin: 0 5% 0 5%;
  }
}
}
}