// Mapa

$coloresprincipales: map-merge(

    $colortipografia: #67453d, 
    $backgroundimage: url(../img/background.jpg.jpg),
    $navcolor: rgb(246, 239, 231),
    $white: #ffffff,
    $black:#0000,
)

