@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');


/* ---------------GENERALES--------------------- */
@media screen and (max-width:2000px) {

    * {
        padding: 0;
        margin: 0;
        font-family: 'Mulish', sans-serif;
        color: #67453d;

    }

    html {
        box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    body {
        background-image: url(../img/background.jpg.jpg);
        background-size: cover;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    .conteiner {
        max-width: 100%;
        margin: 0 5% 0 5%;
    }

    /* ----------------------HEADER---------------------------- */

    header {
        /* grid-area:1/1/2/2; */
        grid-area: header;
        width: 100%;
        top: 0%;
        position: sticky;
        align-self: start;
        z-index: 2;
        background-color: rgb(246, 239, 231);
    }


    .menu {

        font-size: x-large;
    }

    #logo {
        padding: 0 0 0 3%;
    }

    .imgLogo {
        max-width: 81%;
    }

    .carrito {
        max-height: 1em;
    }

    .buttom {
        text-decoration: none;
        transition: 0.5s;
        color: #67453d;
    }

    .buttom:hover {
        font-size: larger;
        color: #67453d;
    }

    /* -----------------------MAIN---------------------- */

    main {
        /* grid-area:1 */
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 4em;
        grid-template-areas:
            "hero"
            "info"
            "colection"
            "playlist";
    }

    .hero {
        grid-area: hero;
    }

    .plato1,
    .plato2,
    .plato3,
    .titulo,
    #flecha {
        position: absolute;
        z-index: 0;
    }

    .titulo {
        right: 34%;
        font-size: 5em;
        transition: 5s;
        z-index: 1;
    }

    .titulo:hover {
        right: 0;
    }

    #title{
        font-size: inherit;
    }
    /* -----plates------- */

    .plato1 {
        max-height: 18em;
        margin-top: 12%;
        margin-left: 10%;
        margin-right: 50%;
        transition: all 3s ease-out;
    }

    .plato1:hover {
        margin-left: 17%;
        margin-top: 2%;
        transform: rotate(45deg);
    }

    .plato2 {
        max-height: 12em;
        margin-left: 36%;
        margin-top: 9%;
        transition: all 3s ease-out;
    }

    .plato2:hover {
        margin-left: 38%;
        margin-top: 18%;
        transform: rotate(45deg);
    }

    .plato3 {
        max-height: 25em;
        margin-left: 55%;
        margin-top: 10%;
        transition: all 3s ease-out;
    }

    .plato3:hover {
        margin-left: 50%;
        margin-top: 2%;
        transform: rotate(45deg);
    }

    /* end plates */

    #flecha {
        right: 50%;
        bottom: 9%;
        font-size: xx-large;
        transition: 0.5s;
    }

    #flecha:hover {
        font-size: initial;
    }

    /* ----------------------END HERO------------------------- */

    .part1 {
        grid-area: info;
        display: flex;
        gap: 1em;
    }

    .info {
        display: flex;
        flex-direction: column;
        font-size: x-large;
        align-items: center;
        justify-content: space-around;
    }

    #coleccion:hover {
        color: rgb(246, 239, 231);
    }

    /* --------------------END INFO---------------------------- */

    /* --------------------START COLECTION--------------------- */

    .part2 {
        grid-area: colection;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .part2 h2 {
        font-size: xx-large;
    }

    #figures {
        display: flex;
        text-align: center;
    }

    .ilustracion {
        width: 80%;
        border: solid #67453d;
        border-radius: 12%;
        transition: 1s;
    }

    .ilustracion:hover {
        background-color: rgb(246, 239, 231);
        animation: ilustraciones 2s;
    }

    @keyframes ilustraciones {
        25%{
            transform: translateY(2px);
        }
    }

    /* ----------------------END COLECTION-------------------- */

    .part3 {
        grid-area: playlist;
        display: flex;
        justify-content: flex-end;
        gap: 25%;
        align-items: center;
        font-size: x-large;
    }

    /*-------------------FOOTER--------------------- */
    footer {
        background: white;
        padding: 4em 0 4em 0;
        grid-area: footer;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    #botonera__footer {
        list-style: none;
        display: flex;
        height: 54%;
        width: 19%;
        justify-content: inherit;
    }

    .boton__footer {
        transition: 0.5s;
        font-size: x-large;
    }

    .boton__footer:hover {
        font-size: xx-large;
    }

}

/* --------------------------------------START SHOP SECTION------------------------------------------------- */


/* #mesa {
    animation: mesa 4s;
}

@keyframes mesa {
    0% {
        transform: scale(500px);
    }

    25% {
        border-radius: 15%;
    }
    50% {
        width: 500px;
    }
    75% {
        transform: translateX(600px);
    }
} */


/* 
----------------------------------MEDIA QUERIES---------------------------------------- */

@media screen and (max-width:480px) {

    .conteiner {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 2%;
    }

    /* -----------------------------------HEADER MOBILE-------------------------------------- */

    #home,
    #shop,
    #about,
    #contact {
        display: none;
    }

    .menu {
        justify-content: start;
        text-align: center;
    }

    #three__dots {

        transition: none;
    }

    #three__dots {
        font-size: x-large;
    }

    #logo {
        padding: 0;
    }

    .imgLogo {
        max-width: 60%;

    }

    .carrito {
        max-height: 1.2rem;
    }

    /* ------------------------------END HEADER MOBILE---------------------------------------------- */

    /* ------------------------------MAIN MOBILE (HERO)---------------------------------------------------- */

    main {
        gap: 4em;
    }

    .hero {
        grid-area: hero;
        display: flex;
        flex-direction: column;
    }

    .plato1,
    .plato2,
    .plato3,
    .titulo,
    #flecha {
        position: unset;
        z-index: 0;
    }

    .titulo {
        right: 34%;
        font-size: 1em;
        transition: 5s;
        z-index: 1;
    }

    .titulo:hover {
        right: 0;
    }

    .contenedor__img {
        display: flex;
        align-items: center;
        margin: 24% 0 0 0;
    }

    /* -----plates------- */

    .plato1 {
        max-height: 6em;
        margin: 0;
        transition: 3s;
        align-self: normal;
    }

    .plato1:hover {
        margin-left: 17%;
        margin-top: 2%;
    }

    .plato2 {
        max-height: 5em;
        transition: 3s;
        margin: 0;
        align-self: self-end;
    }

    .plato2:hover {
        margin-left: 38%;
        margin-top: 18%;

    }

    .plato3 {
        max-height: 8em;
        margin: 0;
        transition: 3s;
    }

    .plato3:hover {
        margin-left: 50%;
        margin-top: 2%;
    }

    /* end plates */

    #flecha {
        margin: 40% 0 22% 0;
        right: 50%;
        bottom: 9%;
        font-size: xx-large;
        transition: 0.5s;
    }

    #flecha:hover {
        font-size: initial;
    }

    /* ----------------------------INFO SECTION-------------------------------- */

    .part1 {
        grid-area: info;
        display: flex;
        flex-direction: column;
        gap: 3em;
    }

    .info {
        grid-area: info;
        display: flex;
        flex-direction: column;
        font-size: unset;
        align-items: start;
        gap: 5em;
    }

    #coleccion:hover {
        color: rgb(246, 239, 231);
    }

    #mesa {
        grid-area: mesa;
        max-width: 86%;

    }

    /* --------------------------------COLECTION---------------------------------- */

    .part2 {
        grid-area: colection;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        gap: 3em;
    }

    .part2 h2 {
        font-size: revert;
    }

    #figures {
        display: flex;
        flex-wrap: wrap;
        text-align: start;
    }

    .ilustracion {
        width: 80%;
        border: solid #67453d;
        border-radius: 12%;
        transition: 1s;
    }

    .ilustracion:hover {
        background-color: rgb(246, 239, 231);

    }


    .part3 {
        display: none;
    }


    /* 
    -----------------------------FOOTER--------------------------- */

    footer {
        background: white;
        padding: 1em;
        grid-area: footer;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: flex-end;
        gap: 1em;
        font-size: 63%;
    }

    #botonera__footer {
   
        height: 47%;
        width: 19%;
        justify-content: space-between;
    }

    .boton__footer {
        transition: 0.5s;
        font-size: large;
    }
}


/* ----------------------------START SHOP PAGE ----------------------------------------------------------------*/


#main__shop {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 0;
}

.titulo__productos {
    text-align: center;
    margin: 1em 0 1em 0;
}

.titulo__colecciones {
    margin: 1em;
}

.plants {
    display: flex;
    flex-direction: column;
}


.imgshop {
    max-height: 15em;
    margin: 3em 3em 0 3em;
    border-radius: 15%;
}

.cards {
    display: inline-block;
    text-align: center;
}

/* -------------------------------------------ABOUT PAGE---------------------------------- */

#main__about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1em;
}

#main__cart {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1em;
}